.board {
    padding: 10px;
    border: 1px solid black;
}

.spot {
    margin: -0.5px;
    padding: 3px 7px;
    border: 1px solid #888;
    background-color: #ccc;
    cursor: default;
    width: 20px;
    height: 15px;
    text-align: center;
    font-size: 80%;
    display: inline-block;
}

.spot:hover {
    padding: 1px 5px;
    border: 3px solid #666;
    /*background-color: #fff;*/
}

.active {
    color: #c33;
    padding: 1px 5px;
    border: 3px solid #c33;
}

.Human {
    background-color: #de6;
}

.Compy {
    background-color: #9cf;
}

.Nobody {}