/* SVG Styles */
rect.mapBound {
    stroke: #444;
    stroke-width: 1px;
    fill: white;
}

g.spot {
    cursor: default;
}

g.spot polygon {
    fill: #888;
    stroke: #555;
    stroke-width: 0.2%;
}

g.Nobody polygon {}

g.Zero polygon { fill: #adf; stroke: #245; }
g.One polygon { fill: #6b6; stroke: #353; }
g.Two polygon { fill: #fff; stroke: #333; }
g.Three polygon { fill: #e8f; stroke: #315; }
g.Four polygon { fill: #fc8; stroke: #4f4f18; }
g.Five polygon { fill: #533; stroke: #faa; }
g.Five text { fill: #faa; }

g.spot:hover polygon {
    stroke: #a22;
    stroke-width: 0.5%;
}

/* TODO would be nice for active to take precedence over hover or something */
g.active polygon {
    stroke: #a22;
    stroke-width: 0.35%;
}

g.active text {
    fill: #a22;
    font-weight: bold;
}