g.addColor {
  cursor: copy; // cell;
  circle {
    fill: black;
  }
  text {
    fill: white;
    text-anchor: middle;
    font-size: 0.5px;
    &.debug {
      font-size: 0.15px;
      fill: #aaa;

      // black outline from
      // stackoverflow.com/questions/442164/how-to-get-an-outline-effect-on-text-in-svg
      paint-order: stroke;
      stroke: #000000;
      stroke-width: 0.012px;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      font-weight: 700;
    }
  }
}

g.colorWedge {
  cursor: alias; // default;
  text.debug {
    font-size: 0.09px;
    //fill: #777;
    //paint-order: stroke;
    //stroke: #000;
    //stroke-width: 0.014px;
    //stroke-linecap: butt;
    //stroke-linejoin: miter;
    font-weight: 600;
  }
  polygon {
    //strokeWidth: 1%;
    strokeWidth: 0;
  }

}