.page {
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-synthesis: none;
}

@media (prefers-color-scheme: dark) {
  .page {
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  @media (max-width: 600px) {
    .page {
      padding: 32px 32px 80px;
    }
  }

  @media (prefers-color-scheme: dark) {
    .logo {
      filter: invert();
    }
  }
}