g.tile {
    cursor: default;

    polygon {
        fill: #999;
        stroke: #777;
        stroke-width: 2px;  // eliminate once we've fixed flickering
    }

    .cursor {
        fill: none;
        transform: scale(0.85);
        stroke-linejoin: miter;
        stroke-width: 5px;
    }

    .hover {
        visibility: hidden;
        fill: none;
        transform: scale(0.9);
        stroke-linejoin: miter;
        stroke-width: 3px;
    }

    &:hover {
        .hover {
            visibility: visible;
        }
    }
}

g.Nobody polygon {}

/* TODO would be nice for active to take precedence over hover or something */
g.active {
    text {
        font-weight: bold;
    }
}

