g.tile {
    cursor: default;

    polygon {
        fill: #999;
        stroke: #777;
        stroke-width: 0.2%;
    }

    &:hover {
        polygon {
            stroke: #a22;
            stroke-width: 0.5%;
            //stroke-width: 5%;
            //transform: scale(0.5);
        }
    }
}

g.Nobody polygon {}

/* TODO would be nice for active to take precedence over hover or something */
g.active {
    // TODO check for a way to draw line on inside instead of half-in-half-out
    // TODO instead expand coords to allow inner and outer?
    polygon {
        stroke: #a22;
        stroke-width: 0.35%;
    }

    text {
        fill: #a22;
        font-weight: bold;
    }
}

