g.tile {
    cursor: default;

    polygon {
        fill: #999;
        stroke: #777;
        stroke-width: 0.2%;
    }

    .cursor {
        fill: none;
        transform: scale(0.8);
        stroke-linejoin: miter;
        stroke-width: 1%;
    }

    .hover {
        visibility: hidden;
        fill: none;
        transform: scale(0.85);
        stroke-linejoin: miter;
        stroke-width: 0.6%;
    }

    &:hover {
        .hover {
            visibility: visible;
        }
    }
}

g.Nobody polygon {}

/* TODO would be nice for active to take precedence over hover or something */
g.active {
    text {
        font-weight: bold;
    }
}

