.FlatTopHex {
  text {
    font-family: sans-serif;
    text-anchor: middle;

    -webkit-transform: translate(0, 9);
    -moz-transform: translate(0, 9);
    -ms-transform: translate(0, 9);
    -o-transform: translate(0, 9);
    transform: translate(0, 9);
  }
}