.Help {
  hr {
    font-size: 140%;
    width: 100%;
    margin-right: 3em;
  }
  p {
    width: 100%;
    white-space: normal;
    font-size: 3.5vmin;
    margin: 0.2em 3em 0.2em 0;
    text-align: right;
    strong {
      font-size:5vmin;
    }
  }
}