.IntInput {
  margin: 0.3em;
  input {
    border: 1px solid white;
    margin-left: 0.3em;
  }
}

.CheckInput {
  margin: 0.3em;
  white-space: nowrap;
  input {
    transform: scale(2) translate(0,-2px);
    margin-left: 0.7em;
  }
}

.SelectNumber {
  select {

  }
}

.LocalGameOptionsView {
  .IntInput, .CheckInput {
    white-space: nowrap;
  }

  .Main {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em;
    border-radius: 1em;
  }

  button.start {
    padding: 0.6em 1em;
  }
  
  div {
    text-align: center;
  }

  input {
    font-size: 100%;
    text-align: right;
  }

  .Level1, .Level2 {
    transition: all 400ms;
  }

  &.Show0 {
    .Level1, .Level2 {
      transform: scaleX(0);
      opacity: 0;
      width: 0;
    }
  }

  &.Show1 {
    .Level1 {
      width: 8.5em;  // because auto doesn't animate
      opacity: 1;
    }
    .Level2 {
      transform: scaleX(0);
      opacity: 0;
      width: 0;
    }
  }

  &.Show2 {
    .Level1, .Level2 {
      width: 8.5em;  // because auto doesn't animate
      opacity: 1;
    }
  }

  .input-range {
    width: 100%;
    margin: 1em 0;
  }
  .input-range__label {
    display: none;
  }
}