body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  // TODO only when in game — prevents pull-to-reload
  overscroll-behavior: none; // prevents scrolliness in Chrome
  position: fixed; // prevents scrolliness in iOS Safari
  width: 100%; // compensate for position fixed
  height: 100%;
}

body,input {
  background-color: black;
  color: white;
  font-size: 140%;
}

button {
  background: linear-gradient(#222, #444);
  color: white;
  margin: 0.3em;
  font-size: 110%;
  padding: 0.3em 0.5em;
  &:hover{ background: linear-gradient(#666, #333); }
  &:active { background: linear-gradient(#444, #222); }
}
