.LocalGameOptionsView {
  button.start {
    padding: 0.6em 1em;
  }
  
  div {
    text-align: center;
  }

  input {
    text-align: right;
  }

  // specify height explicitly because auto doesn't animate
  $float-height: 12vmin;
  $level0-height: 24vmin;
  $level1-height: 28vmin;
  $level2-height: 13vmin;

  .LevelButton {
    transition: all 400ms;
  }

  .Level0, .Level1, .Level2 {
    transition: all 400ms;
    width: 100%;
  }

  .Level0 {
    height: $level0-height;
  }

  &.Show0 {
    .Modal {
      height: $float-height + $level0-height;
    }
    .Level1, .Level2 {
      transform: scaleY(0);
      opacity: 0;
      height: 0;
    }
  }

  &.Show1 {
    .Modal {
      height: $float-height + $level0-height + $level1-height;
    }
    .Level1 {
      opacity: 1;
      height: $level1-height;
      border-top: 2px solid #777;
    }
    .Level2 {
      transform: scaleY(0);
      opacity: 0;
      height: 0;
    }
  }

  &.Show2 {
    .Modal {
      height: $float-height + $level0-height + $level1-height + $level2-height;
    }
    .Level1 {
      height: $level1-height;
      opacity: 1;
      border-top: 2px solid #777;
    }
    .Level2 {
      height: $level2-height;
      opacity: 1;
      border-top: 2px solid #777;
    }
  }

  .Label {
    text-align: right;
    margin-right: 0.5em;
    margin-left: -0.5em;
    width: 15vmin;
  }

  .IntInput, .CheckInput {
    white-space: nowrap;
    margin: 0.2em 0.3em;
  }

  .IntInput {
    input {
      border: 1px solid white;
      margin-left: 0.3em;
    }
  }

  .CheckInput {
    white-space: nowrap;
    input {
      transform: scale(2) translate(0,-2px);
      margin-left: 1.5em;
      width: 2em;
    }
  }

  .InputRange {
    margin: 0.4em 0.3em;
    .input-range {
      width: 33vmin;
      display: inline-flex;
    }
    .input-range__label {
      display: none;
    }
    /*
    .input-range__slider {
      height: 3vmin;
      width: 3vmin;
    }
    .input-range__track {
      height: 1vmin;
    }
    */
  }
}